@keyframes fadeInFromTop {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-on-scroll {
    animation: fadeInFromTop 1s ease-out;
  }

  .slide-in-on-scroll {
    animation: slideInFromRight 10s ease-out forwards;
    animation-delay: 1s;
  }


  .listings:hover .listings-slide{
    animation-play-state: paused;
    
  }
  
  .listings:hover .listings-slide-reverse{
    animation-play-state: paused;
    
  }

  .listings-slide {
    animation: listings-slide 60s linear infinite;
    white-space: nowrap;
  }

  .listings-slide-reverse {
    animation: listings-slide-reverse 60s linear infinite;
    white-space: nowrap;
  }

  .listings {
    overflow-x: hidden; 
    overflow-y: hidden;
    white-space: nowrap;
  }

  @keyframes listings-slide {
    from { 
        transform: translateX(0);
     }
    to { transform: translateX(calc(-100% - 0.5rem)); }
  }

  @keyframes listings-slide-reverse {
    from { 
        transform: translateX(calc(-100% - 0.5rem));
     }
    to { transform: translateX(0); }
  }